<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- Home Link: Ensure it's displayed only once -->
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        Dynamically generate the sidebar nav, excluding:
        1. The Home page (landing page)
        2. The page with the title "Mesoscale" (index.html title)
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.url != site.baseurl and node.title != site.title %}
              {% if node.url != "/" %}
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>

                {% comment %}
                  Check if the page has subpages (tracking algorithms in this case)
                {% endcomment %}
                {% if node.title == "Tracking Algorithms" %}
                  <ul class="sub-links">
                    {% for subpage in pages_list %}
                      {% if subpage.parent == node.title %}
                        <li><a href="{{ site.baseurl }}{{ subpage.url }}" class="sub-link">{{ subpage.title }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- GitHub repository link -->
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub MCSMIP-DYAMOND</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}.</p>
  </div>
</div>
