<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- Home Link: Ensure it's displayed only once -->
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        Dynamically generate the sidebar nav, excluding:
        1. The Home page (landing page)
        2. The page with the title "Mesoscale Convective Systems tracking Method Intercomparison (MCSMIP)"
      {% endcomment %}

      {% assign pages_list = site.pages | sort: 'title' %}
      {% assign parent_pages = pages_list | where: "parent", nil %}
      {% assign child_pages = pages_list | where_exp: "item", "item.parent != nil" %}

      {% for parent in parent_pages %}
        {% if parent.title != null and parent.layout == "page" and parent.url != site.baseurl and parent.title != site.title and parent.title != "Mesoscale Convective Systems tracking Method Intercomparison (MCSMIP)" %}
          <a class="sidebar-nav-item{% if page.url == parent.url %} active{% endif %}" href="{{ parent.url }}">{{ parent.title }}</a>
          {% for child in child_pages %}
            {% if child.parent == parent.title %}
              <a class="sidebar-nav-item child-item{% if page.url == child.url %} active{% endif %}" href="{{ child.url }}">{{ child.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <!-- GitHub repository link -->
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub MCSMIP-DYAMOND</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}.</p>
  </div>
</div>
