<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% if page.url == "/" %}
      {% include sidebar.html %}
    {% endif %}

    <div class="content container">
      {{ content }}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Open the lightbox
        window.openLightbox = function(imageSrc) {
          const lightbox = document.getElementById('lightbox');
          const lightboxImg = document.getElementById('lightbox-img');
          
          // Set the source of the lightbox image dynamically
          lightboxImg.src = imageSrc;
  
          // Show the lightbox
          lightbox.style.display = 'flex';
        };
  
        // Close the lightbox
        window.closeLightbox = function() {
          const lightbox = document.getElementById('lightbox');
          lightbox.style.display = 'none'; // Hide the lightbox
        };
      });
    </script>
    
  </body>
</html>
